<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pfl.component">

    <application>
        <activity android:name="com.pfl.module_user.MainActivity" />
        <activity
            android:name="com.pfl.module_user.ui.login.LoginActivity"
            android:label="@string/label_login" />
    </application>

</manifest>